.text-center {
  text-align: center;
}

.App-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #61dafb;
  font-size: 40px;
}
.titleSpan {
  color: #b4efff;
  text-transform: uppercase;
  font-size: 50px;
}

.form {
  display: block;
  background-color: #131d31;
  padding: 2rem 2rem;
}

.button {
  background-color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 8px;
  font-size: 16px;
  transition: all 300ms;
}
.button:hover {
  background-color: #fff;
  color: #131d31;
  border: 2px solid white;
}
input {
  padding: 8px 16px;
  font-size: 18px;
  margin-bottom: 2px;
  text-align: center;
}
